<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title }}</title>
</head>
<body>
    <h1>{{ question.title }}</h1>
    <div>{{ question.text }}, {{ question.author }}</div>
    <hr>
    <ul>
    {% for ans in answers %}
        <li>{{ ans.text }}, {{ ans.author }}</li>
    {% endfor %}
    </ul>

    <hr>
    <form method="post" action="{{ question.get_url }}">
	{% csrf_token %}
	{{ form.as_p }}
        <button type="submit">Ответить</button>
    </form>
</body>
</html>
